<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <ul>
        {% if user.is_authenticated %}
            <li>Hello,{{user.username}}</li>
            <button type="button">
                <a href='app2/logout'>Logout</a>
            </button>
            <!-- <li><a href="app2/logout">Logout</a></li> -->
        {% else %}

        <div style="width: 100%; background-color:aquamarine; height: 600px"> 
        <center>
        <button type="button" style="position: relative; top: 250px width: 300px;height: 100px;">
            <a href='app2/reg'>Registration</a>
        </button> 
        <button type="button" style="position: relative; top: 250px width: 300px;height: 100px;">
            <a href='app2/login'>Login</a>
        </button>

    </center>

        </div>
        
            <!-- <a href="app2/reg"><li>Register</li></a>
            <a href="app2/login"><li>Login</li></a> -->
        {% endif %}
    </ul>
</body>
</html>