<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <ul>
        {% if user.is_authenticated %}
            <li>Hello,{{user.username}}</li>
            <li><a href="app2/logout">Logout</a></li>
        {% else %}
            <a href="app2/reg"><li>Register</li></a>
            <a href="app2/login"><li>Login</li></a>
        {% endif %}
    </ul>
</body>
</html>