<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="reg" method="POST">
        {% csrf_token %}
        Username :<input type="text" name="user_name"><br>
        email:<input type="email" name="email"><br>
        password:<input type="password" name="pass"><br>
        confirm pass:<input type="password" name="confpass"><br>

        <input type="submit">

    </form>

    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}


</body>
</html>